<app-header/>
<form class="formDiv">
    <div class="formBorder">
        <label for="email">Email</label>
        <input type="text" id="email" [(ngModel)]="email" name="email"/>
        
        <label for="password">Password</label>
        <input type="password" id="password" [(ngModel)]="password" name="password"/>

        @if(this.errorMessage){
            <span class="errorMessage">{{ errorMessage }}</span>
        }

        <button (click)="loginUser()">LogIn</button>
        <p class="forgotPass" routerLink="/forgotPassword" >Forgot Password.</p>
    </div>
</form>
