<app-header/>
<form class="formDiv">
    <div class="formBorder">
        <label for="name">Name</label>
        <input type="text" id="Name" [(ngModel)]="name" name="name" placeholder="Product Name"/>
        
        <label for="price">Price</label>
        <input type="text" id="price" [(ngModel)]="price" name="price" placeholder="325"/>

        <label for="image">Image</label>
        <input type="file" id="image" (change)="onFileSelected($event)" name="image">

        <button (click)="addNewProduct()">Create Product</button>
    </div>
</form>
