.divShowBuy{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    .divImg{
        position: relative;
        animation: zindex999 3s linear infinite;
        min-height: 0;
        margin-top: 100px;

        .spanImg{
            img{
                border: 2px solid black;
                border-radius: 10px;
                box-shadow: rgba(255, 255, 255, 0.123) 1px 1px 20px, rgba(255, 255, 255, 0.377) -1px -1px 20px;
                height: 400px;
                width: 400px;
            }
        }
    }

    .productExplain{
        min-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
        color: white;
        font-size: 50px;
        text-shadow: black 1px 1px 3px;

    }
    .buyBtn{
        border: 2px solid green;
        background-color: lightgreen;
        color: white;
        text-shadow: black 1px 1px 3px;
        font-size: x-large;
        padding: 15px;
        border-radius: 10px;
    }
    .buyBtn:hover{
        cursor: pointer;
        background-color: green;
    }
}


.rgb::after{
    content: "";
    background: linear-gradient(45deg,
    red 0%,
    orange 10%,
    yellow 20%,
    green 30%,
    aqua 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    blue 70%,
    purple 80%,
    #fb07d9 90%,
    red 100%)
    repeat 0% 0% / 300% 100% ;
    position: absolute;
    inset: -3px;

    filter: blur(10px);
    z-index: -1;

    transform: translateZ(-2px);
    animation: rgb 3s linear infinite;
}

@keyframes rgb{
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
@keyframes zindex999{
    from{
        z-index: 999;
    }
    to{
        z-index: 999;
    }
}